<div class="container" *ngIf="!isLoading">
  <div *ngIf="processing" class="loading-container">
    <div class="app-loading">
      <div class="logo"></div>
      <svg class="spinner" viewBox="25 25 50 50">
        <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
      </svg>
    </div>
  </div>
  <div class="row d-flex">
    <img src="../../../assets/images/new-logo.png" alt="" class="logo" />

    <a class="home-btn" mat-raised-button [routerLink]="" (click)="onHome()">
      <mat-icon aria-hidden="false" aria-label="icon">house</mat-icon>
      Home
    </a>
  </div>
  <div class="row">
    <span class="table-container">
      <div class="row flex-centered">
        <div class="w-100 fullwidth-table">
          <mat-card class="features-card">
            <table class="fullwidth c-table">
              <tr>
                <td>
                </td>

                <td class="package-name">
                  Lite Package
                </td>
                <td class="package-name">
                  Full Package
                </td>
                
                <td class="package-name">
                  Professional
                </td>
              </tr>

              <tr *ngFor="let item of stellarPlanList; let i = index" [attr.data-index]="i"
                [class.minor]="i>=2 && i<28">
                <td class="title1 op special-shape odd" [class.odd]="i%2==0">
                  <b>{{item.Name}}</b>
                  <a *ingIf href="#" (click)="openSBUEstimator($event)" class="">help me estimate</a>
                </td>

                <td class="subtotal">
                  <mat-icon *ngIf="item.Lite == true" class="primaryColor big">done</mat-icon>
                  <mat-icon *ngIf="item.Lite == false" class="primaryColor big red">close</mat-icon>
                  <span *ngIf="item.Lite != false && item.Lite != true" class="primaryColor">${{item.Lite}}</span>
                </td>
                <td class="subtotal">
                  <mat-icon *ngIf="item.Full == true" class="primaryColor big">done</mat-icon>
                  <mat-icon *ngIf="item.Full == false" class="primaryColor big red">close</mat-icon>
                  <span *ngIf="item.Full != false && item.Full != true" class="primaryColor">${{item.Full}}</span>
                </td>
                
                <td class="subtotal">
                  <mat-icon *ngIf="item.Professional == true" class="primaryColor big">done</mat-icon>
                  <mat-icon *ngIf="item.Professional == false" class="primaryColor big red">close</mat-icon>
                  <span *ngIf="item.Professional != false && item.Professional != true" class="primaryColor"><span *ngIf="i==29">$</span>{{item.Professional}}</span>
                </td>
              </tr>
              <tr>
                <td class="title1 op special-shape odd cloud-live">
                  <b>CloudLive Streaming</b>
                  <mat-radio-group color="primary">
                    <mat-radio-button (change)="cloudChanged($event)" class="answer" disableRipple="true"
                      color="primary" value="0" checked>none</mat-radio-button><br>
                    <mat-radio-button (change)="cloudChanged($event)" class="answer" disableRipple="true"
                    [matTooltip]="tooltipA" matTooltipClass="material-tooltip"
                      color="primary" value="1">
                      CloudLive domain Option A
                      <br>HD 1080p streaming 1000 GB Data Transfer
                    </mat-radio-button><br>
                    <mat-radio-button (change)="cloudChanged($event)" class="answer" disableRipple="true"
                    [matTooltip]="tooltipB" matTooltipClass="material-tooltip"
                      color="primary" value="2">CloudLive domain Option B <br>HD 1080p
                      streaming 1500 GB Data Transfer</mat-radio-button><br>
                    <mat-radio-button (change)="cloudChanged($event)" class="answer" disableRipple="true"
                    [matTooltip]="tooltipC" matTooltipClass="material-tooltip"
                      color="primary" value="3">Private domain <br>HD 1080p streaming Data
                      Transfer 2.5 TB</mat-radio-button><br>
                  </mat-radio-group>
                </td>
                <td class="subtotal">
                  <mat-icon *ngIf="cloudPriceFirst == '0'" class="primaryColor big red">close</mat-icon>
                  <span *ngIf="cloudPriceFirst !== '0'" class="primaryColor">{{cloudPriceFirst}}</span><br>
                  <span *ngIf="cloudPriceMonthly !== '0'" class="primaryColor">{{cloudPriceMonthly}}</span>
                </td>
                <td class="subtotal">
                  <mat-icon *ngIf="cloudPriceMonthly == '0'" class="primaryColor big red">close</mat-icon>
                  <span *ngIf="cloudPriceFirst !== '0'" class="primaryColor">{{cloudPriceFirst}}</span><br>
                  <span *ngIf="cloudPriceMonthly !== '0'" class="primaryColor">{{cloudPriceMonthly}}</span>
                </td>
                
                <td class="subtotal">
                  <span class="primaryColor">Price tba</span>
                </td>
              </tr>
              <tr>
                <td class="title1 op special-shape cloud-live">
                </td>
                <td class="subtotal">
                  <button class="checkout-btn" (click)="toCheckout('lite')">Purchase Now</button>
                </td>
                <td class="subtotal">
                  <button class="checkout-btn" (click)="toCheckout('full')">Purchase Now</button>
                </td>
                
                <td class="subtotal">
                  <button class="checkout-btn" (click)="callSupport()">Call</button>
                </td>
              </tr>
              <!-- Rooms -->
            </table>
            <table class="fullwidth c-table">
              <tr>
                <td colspan="5" style="text-align: center;">
                  <button class="skip-btn" (click)="skipCheckout()">Try it and decide later</button>
                </td>
              </tr>
            </table>
          </mat-card>

        </div>
      </div>
    </span>
  </div>

  <button mat-stroked-button (click)="onCancel()" class="cancel-btn">
    <mat-icon>navigate_before</mat-icon> Cancel
  </button>
</div>