$font-base: 'lato';//roboto-regular;
$font-medium: 'lato medium';//roboto-medium;
$font-light: 'lato-light';//roboto-light;
$font-black: 'lato black';//roboto-black;
$font-bold: 'lato bold';//roboto-bold;

$color-primary: #181D47;
$color-primary-active: #181D47;
$color-primary-light: #1f265e;